button.MenuToggleWrapper {
  all: unset;
  position: absolute;
  inset: 0;
  width: 30px;

  pointer-events: all;
  transition: opacity var(--speed-regular) ease;
}

button.MenuToggleWrapper_NotVisible {
  opacity: 0;
}

svg.MenuToggleSVG line.MenuToggleLine {
  stroke: var(--color-black);
  stroke-width: 3px;

  transform-origin: center;
}
