div.ProfessionalEntryWrapper {
  height: 100vh;
  padding: 14vh 2vw 14vh 8vw;
  color: var(--color-white);

  /* these rules make the entries stick on top of each other... interesting 
     TODO: consider having them stack and fade out with GSAP ScrollTrigger
  */
  /* position: sticky;
  top: 0; */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h2.ProfessionalEntryTitle {
  margin: 0;
}

p.ProfessionalEntryOneLiner {
  margin-top: 0;
  margin-bottom: 2rem;
}

a.ProfessionalEntryLink {
  position: relative;

  width: 100%;
  max-width: 70%;
  flex-grow: 1;
}

img.ProfessionalEntryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}