@keyframes reveal {
  from {
    opacity: 0;
    translate: 0, 1rem;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

span.Subtitle {
  font-style: italic;

  color: var(--color-white);
  opacity: 0;
}

span.Subtitle_Animate {
  animation: reveal var(--speed-regular) ease forwards;
  animation-delay: var(--speed-slowest);
}