.HeroTitleWrapper {
  position: absolute;
  top: 40vh;

  width: 100%;
}

.HeroTitleWrapper_Masked .HeroTitleElement {
  z-index: 1;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.HeroTitleElement {
  z-index: -1;
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  font-size: clamp(26px, 12vw, 120px);
  text-align: center;

  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .HeroTitleWrapper {
    top: 55vh;
  }

  .HeroTitleElement {
    font-size: 10vw;
  }
}