div.ProfessionalEntryCardWrapper {
  position: relative;
  grid-column: 6 / end;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: var(--color-black);

  margin-bottom: 88px;
}

h2.ProfessionalEntryCardTitle {
  /* Hidden for accessibility purposes */
  position: absolute;
  visibility: hidden;
}

p.ProfessionalEntryCardOneLiner {
  margin: 0;
  width: 50%;

  /* shenanigans to align visually with link below */
  position: absolute;
  bottom: 1.5rem;
  transform: translateY(100%);
}

a.ProfessionalEntryCardLink {
  width: 100%;

  margin-top: 1.5rem;

  text-align: right;
  text-decoration: none;
  color: var(--color-black);
}

div.ProfessionalEntryCardImageContainer {
  width: 100%;
}

img.ProfessionalEntryCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
