div.ProfessionalEntryCardWrapper {
  position: relative;
  grid-column: 1 / end;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: var(--color-black);

  margin-bottom: 88px;
}

@media (min-width: 768px) {
  div.ProfessionalEntryCardWrapper {
    grid-column: 6 / end;
  }
}

h2.ProfessionalEntryCardTitle {
  /* Hidden for accessibility purposes */
  position: absolute;
  visibility: hidden;
}

p.ProfessionalEntryCardOneLiner {
  margin: 0;
  width: 60%;

  font-size: 16px;
  letter-spacing: 0.25px;

  /* shenanigans to align visually with link below */
  position: absolute;
  bottom: 1.5rem;
  transform: translateY(100%);
}

@media (min-width: 768px) {
  p.ProfessionalEntryCardOneLiner {
    width: 50%;
    font-size: 18px;
  }
}

a.ProfessionalEntryCardLink {
  width: 100%;

  margin-top: 1.5rem;

  font-size: 18px;
  text-align: right;
  text-decoration: none;
  color: var(--color-black);

  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) {
  a.ProfessionalEntryCardLink {
    font-size: 20px;
  }
}

div.ProfessionalEntryCardImageContainer {
  width: 100%;
}

img.ProfessionalEntryCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
