main.MainElement {
  height: 100%;

  position: relative;
  z-index: 1;

  opacity: 0;
  transition: opacity var(--speed-route-transition) ease;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);

  overflow-x: clip;
}

main.MainElement_Loaded {
  opacity: 1;
}