main.MainElement {
  height: 100%;

  position: relative;
  z-index: 1;

  opacity: 0;
  transition: opacity var(--speed-route-transition) ease;

  overflow-x: clip;
}

main.MainElement_Loaded {
  opacity: 1;
}