div.TransitionSplashWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  color: var(--color-black);

  transition: opacity calc(var(--speed-route-transition) * 2) ease;
  transition-delay: calc(var(--speed-route-transition) * 1.25);
  opacity: 0;
  pointer-events: none;
}

div.TransitionSplashWrapper_Transitioning {
  opacity: 1;
  pointer-events: all;
}