div.ScrollIndicatorWrapper {
  position: absolute;
  inset: 0;

  transform: translateY(-2px) rotate(-90deg);
  transition: opacity var(--speed-regular) ease;
}

div.ScrollIndicatorWrapper_NotVisible {
  opacity: 0;
}