div.LoadingSplashWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  color: var(--color-black);

  transition: opacity var(--speed-very-slow) ease;
  opacity: 0;
  pointer-events: none;
}

div.LoadingSplashWrapper_Loading {
  opacity: 1;
  pointer-events: all;
}