@use "../../../theme/layout" as layout;

.BlogPostWrapper {
  @include layout.page-container();

  font-size: 0.875rem;

  background-color: var(--color-white);

  display: grid;
  grid-template-columns: subgrid;
  position: relative;

  --heading-offset-top: calc(4rem + 1.1 * var(--heading-main-size));
  padding-top: var(--heading-offset-top);

  h1 {
    left: 0;
    top: 4rem;
    position: absolute;
    margin: 0;

    width: calc(100vw - 2 * var(--container-padding));

    @media (min-width: 768px) {
      width: 47.5vw;
    }
  }

  p {
    line-height: 1.5;
  }

  img {
    border-radius: var(--border-radius);
  }

  section {
    grid-column: 1 / -1;

    @media (min-width: 1200px) {
      grid-column: 2 / span 8;
    }

    p {
      margin-block: 1rem;
    }
  }

  .BlogPostContent {
    @include layout.inherit-grid-columns();

    p {
      grid-column: 1 / -1;
    }

    @media (min-width: 1200px) {
      grid-column: 2 / span 8;

      p {
        grid-column: 2 / span 6;
        padding-inline: 10%;
      }
    }

    margin-top: 4rem;
  }

  .BlogEntryHeroMediaWrapper {
    grid-column: 1 / -1;
    clip-path: inset(0% 0% 0% 0% round 8px);

    img {
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
    }
  }

  .SecondaryTitle {
    font-size: var(--heading-main-size);
  }

  .SecondaryTitle_Inverted {
    color: var(--color-white);
  }

  .PublishedOn {
    font-family: var(--font-proto-mono);
    letter-spacing: var(--proto-mono-letter-spacing);
    font-weight: 200;
    text-align: right;
    margin-block: 2px;
  }
}
