.type-h1 {
}

h1 {
  font-family: var(--font-supply-mono);
  
  line-height: 78%;
  letter-spacing: -1.6px;
  text-transform: uppercase;

  color: var(--color-black);
}

p {
  line-height: 104%;
  font-weight: 300;
}