h1 {
  font-family: var(--font-proto-mono);
  
  line-height: 78%;
  letter-spacing: -0.075em;
  margin-inline: -0.1em;

  text-transform: uppercase;

  color: var(--color-black);
}

p {
  line-height: 104%;
  font-weight: 300;
}

p:empty {
  display: none;
}

a {
  letter-spacing: -1px;
}

.bold {
  font-weight: bold;
}

code {
  padding: 1rem;
  font-family: monospace;
}
