h1 {
  font-family: var(--font-proto-mono);
  font-weight: 400;
  line-height: 78%;
  letter-spacing: -0.075em;
  text-transform: uppercase;

  color: var(--color-black);
}

p {
  line-height: 104%;
  font-weight: 300;
}

a {
  letter-spacing: -1px;
}