.BlogPostWrapper {
  background-color: var(--color-white);

  grid-column: 1 / end;

  display: grid;
  grid-template-columns: subgrid;

  h1 {
    grid-column: 1 / end;
  }
}

.BlogPostBackLink {
  grid-column: 1 / end;
}

@media (min-width: 1200px) {
  .BlogPostWrapper {
    grid-column: 4 / 10;
    --grid-cols: 6;
  }
}