* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;

  /* cursor: none; */
}

html {
  background: black;
}

body {
  margin: 0;
}

Disables cursor on desktop for elements where custom cursor is visible
@media (pointer: fine) and (min-width: 768px) {
  *[data-cursor-type] {
    cursor: none;
  }
}