* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  background: var(--color-black);
}

body {
  margin: 0;

  /* to set site as initially scroll locked, while landing animation plays */
  overflow: hidden;
}

/* Disables cursor on desktop for elements where custom cursor is visible */
@media (pointer: fine) and (min-width: 768px) {
  *[data-cursor-type] {
    cursor: none;
  }
}