div.StickyContainerElement {
  height: calc(var(--number-of-children) * var(--child-height) * 1vh);
  height: calc(var(--number-of-children) * var(--child-height) * 1dvh);
}

section.ProfessionalWorkWrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 24px;

  padding-block: var(--padding-vertical);
}