div.ProfessionalEntriesWrapper {
  position: absolute;
  bottom: var(--padding-vertical);
  right: var(--padding-vertical);
  height: 50%;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  color: var(--color-black);
}

h2.ProfessionalEntriesTitle {
  /* Hidden for accessibility purposes */
  position: absolute;
  visibility: hidden;
}

p.ProfessionalEntriesOneLiner {
  margin-top: 0;
  margin-bottom: 2rem;
}

a.ProfessionalEntriesLink {
  position: relative;

  width: 100%;
  max-width: 70%;
  flex-grow: 1;
}

img.ProfessionalEntriesImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
