.RichTextDocWrapper {
  grid-column: 2 / 12;

  p:empty, span:empty {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 1200px) {
    grid-column: 1 / end;
  }
}
