div.CustomCursorWindowWrapper {
  height: 100%;
  width: 100%;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  pointer-events: none;
}

div.CustomCursorWrapper {
  height: 64px;
  aspect-ratio: 1;

  position: fixed;
  top: 0;
  left: 0;

  transition: all var(--speed-very-fast) ease;
}

div.CustomCursorElement {
  height: inherit;
  border-radius: 10em;
  background-color: rgba(255, 255, 255, 0.8);

  transition: transform var(--speed-slow) ease;
  transform: translate(-50%, -50%) scale(1);
}

div.CustomCursorElement_Hidden {
  transform: translate(-50%, -50%) scale(0);
}