div.CustomCursorWindowWrapper {
  height: 100%;
  width: 100%;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  pointer-events: none;
}

div.CustomCursorWrapper {
  position: fixed;
  top: 0;
  left: 0;

  transition: all var(--speed-very-fast) ease;
}

div.CustomCursorWrapper svg {
  position: fixed;
  inset: 0;
  transition: transform 800ms;
}