.MediaCarouselWrapper {
  position: relative;
  height: 100%;

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
}

.MediaContainer {
  position: relative;
}

.MediaContainer > img {
  object-fit: cover;
}
