header.HeaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - var(--padding-mobile));
  /* TODO: better css for this */
  padding: 36px 0; 

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;

  pointer-events: none;
}

@media (min-width: 768px) {
  header.HeaderWrapper {
    /* shenanigans to align with grid while keeping position sticky */
    --1-fr: calc(calc(100% - 264px) / 12);
    --1-col-offset: calc(var(--1-fr) + var(--grid-gap));
    --2-col-offset: calc(var(--1-fr) * 2 + calc(2 * var(--grid-gap)));
  
    top: var(--padding-vertical);
    left: var(--1-col-offset);
    width: calc(100% - var(--2-col-offset));

    align-items: center;

    padding: unset;
  }
}

div.ButtonAreaWrapper {
  position: relative;
  width: 20px;
  aspect-ratio: 1;
}

@media (min-width: 768px) {
  div.ButtonAreaWrapper {
    width: 30px;
  }
}