h1.HeadingOne {
  font-size: 120px;
  display: flex;
  justify-content: center;

  height: fit-content;
  margin: 0;
  overflow: hidden;
}

@keyframes reveal {
  from {
    transform: translateY(120%);
  }
  to {
    transform: translate(0);
  }
}

span.Text {
  display: block;
  width: fit-content;
  margin-bottom: 1rem;

  transform: translateY(120%);
}

span.Text_Animate {
  animation: reveal var(--speed-slow) ease forwards;
  animation-delay: var(--speed-very-slow);
}

@media (min-width: 768px) {
  h1.HeadingOne {
    font-size: clamp(160px, 20vw, 200px);
  }
}