h1.HeadingOne {
  font-size: 5.5rem;

  margin: 0;
  overflow: hidden;
}

@keyframes reveal {
  from {
    transform: translateY(120%);
  }
  to {
    transform: translate(0);
  }
}

span.Text {
  display: block;
  margin-bottom: 1rem;
  line-height: 1em;

  transform: translateY(120%);
}

span.Text_Animate {
  animation: reveal var(--speed-slow) ease forwards;
  animation-delay: var(--speed-very-slow);
}