.ImageCarouselWrapper {
  position: relative;
  height: 100%;

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
}

.ImageContainer {
  position: relative;
}

.ImageContainer > img {
  object-fit: cover;
}