a.NavLinkElement {
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
  transition: all var(--speed-very-slow) ease;

  font-size: 16px;
  line-height: 1.2em;
}

/* will be the active class */
a.NavLinkElement:first-of-type { 
  opacity: 1;
  transform: scale(1.25);
  transform-origin: left;
  margin-bottom: 2px;
}