section.HeroWrapper {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  /* Not sure why 14's needed as col end here :/ */
  grid-column: 1 / 14;
}


@media (min-width: 768px) {
  section.HeroWrapper {
    --hero-top-offset: 8vh;
    --hero-media-height: 40vh;
    padding-top: var(--hero-top-offset);

    grid-column: 1 / 13;
  }
}

.HeroSubContent {
  position: absolute;
  width: 100%;
  height: 33%;
  bottom: 0;

  font-size: 22px;
}

.HeroContentLeft {
  grid-column: 2 / 5;
  height: 100%;
}

.HeroContentRight {
  grid-column: 6 / 10;
  height: 100%;

  text-align: right;
}