div.HeroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem;
  padding-bottom: 8rem;
}

span.Subtitle {
  color: var(--color-white);
  font-style: italic;
}